/*Base CSS example*/
html {
    font-size: 1rem;
}
html, body {
   margin: 0;
   padding: 0;
}
body > * {
   box-sizing: border-box;
   font-family: '<your font>';
}
img {
   width: 100%;
}
.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1200px;
}